name: test7

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test7:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: boot
        shell: pwsh
        run: ./Invoke-Build.ps1 boot
      - name: test
        shell: pwsh
        run: ./Invoke-Build.ps1 . Tests/.build.ps1
